/* Community Confidence */

.ConfidenceBox .Sprite {
    display: block;
    background: url('images/sprite-icons.png');
    width: 18px;
    height: 18px;
    float: left;
}

.ConfidenceBox .Sprite.Check {
    background-position: 0 -112px;
}
.ConfidenceBox .Sprite.Cross {
    background-position: -18px -112px;
}

.ConfidenceBox .sr-only {
    position: inherit;
    width: auto;
    height: auto;
    margin: auto;
    padding: auto;
    overflow: auto;
    clip: auto;
    border: initial;
}

.ConfidenceBox .Button {
    text-align: center;
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.0%;
    line-height: 18px;
}