/*#Content {
   float: right;
}
#Panel {
   float: left;
}
*/
/* line 13, ../sass/addons.scss */
body.add #Panel {
  display: block;
}

/* line 16, ../sass/addons.scss */
body.add #Content {
  width: 680px;
}

/* line 21, ../sass/addons.scss */
.DataList.Addons .Item {
  padding: 16px 16px 16px 0;
}

/* line 26, ../sass/addons.scss */
.AddonRow {
  overflow: hidden;
}
/* line 28, ../sass/addons.scss */
.AddonRow .Icon {
  float: left;
  padding-right: 16px;
}
/* line 32, ../sass/addons.scss */
.AddonRow .Icon img {
  width: 64px;
  height: 64px;
}
/* line 38, ../sass/addons.scss */
.AddonRow .ItemContent {
  margin-left: 80px;
}
/* line 42, ../sass/addons.scss */
.AddonRow .Description {
  font-size: 13px;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 48, ../sass/addons.scss */
.AddonRow .Meta {
  line-height: 21px;
}

/* line 53, ../sass/addons.scss */
body.Addon #Content img.Icon {
  float: left;
  margin: 0 6px 6px 0;
  padding: 2px;
  /* border: 1px solid #ddd; */
}

/* line 60, ../sass/addons.scss */
input.Button {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* line 65, ../sass/addons.scss */
div.DownloadPanel {
  margin-left: 20px;
  width: 270px;
  float: right;
}

/* line 70, ../sass/addons.scss */
div.RequirementBox,
div.DownloadBox,
.AddonBox {
  background: #F6DAA8 !important;
  color: #744000 !important;
  border: none !important;
  padding: 6px;
  margin: 0 0 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow: hidden;
  font-size: 12px;
}

/* line 83, ../sass/addons.scss */
div.DownloadBox dl {
  padding: 0 !important;
  background: none;
  border: none;
}

/* line 88, ../sass/addons.scss */
div.RequirementBox dl dt,
div.DownloadBox dl dt {
  color: inherit;
  width: 100px;
  float: left;
}

/* line 94, ../sass/addons.scss */
.DownloadBox dl dd {
  color: #555;
}

/* line 97, ../sass/addons.scss */
div.Requirements,
div.Testing {
  background: #fafafa;
  border: 1px solid #eee;
  padding: 6px;
}

/* line 103, ../sass/addons.scss */
div.Requirements h3,
div.Testing h3,
div.Requirements p,
div.Testing p {
  margin: 0 !important;
  padding: 0 !important;
}

/* line 110, ../sass/addons.scss */
div.Requirements h3,
div.Testing h3 {
  margin: 0 0 6px 0 !important;
}

/* line 114, ../sass/addons.scss */
#Content {
  font-size: 120%;
}

/* line 117, ../sass/addons.scss */
.Addons #Content h1 {
  padding-bottom: 4px;
}

/* line 120, ../sass/addons.scss */
#addons_addon_index #Content h1 div {
  display: inline;
  float: right;
  font-family: 'lucida grande','Lucida Sans Unicode',tahoma,sans-serif;
  font-size: 13px;
  font-weight: normal;
}

/* line 127, ../sass/addons.scss */
#addons_addon_index #Content .Legal {
  /*   width: 706px;
     float: left;*/
  overflow: hidden;
  background: #FEF7DF;
  padding: 12px;
  margin: 0 0 20px;
  border-bottom: 1px solid #EED3A2;
  font-size: 14px;
}

/* line 137, ../sass/addons.scss */
#addons_addon_index #Content div.Approved,
#addons_addon_index #Content div.Warning {
  font-size: 14px;
  padding: 8px;
  line-height: 1.5;
  padding: 10px 8px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 147, ../sass/addons.scss */
#addons_addon_index #Content div.Approved {
  padding: 10px 8px 10px 70px;
  background: url("images/check.png") 20px 20px no-repeat #d4efc5;
  color: #1e6000;
}

/* line 152, ../sass/addons.scss */
div.Approved strong,
div.Warning strong {
  font-weight: bold;
  display: block;
}

/* line 157, ../sass/addons.scss */
#Content img.Border {
  padding: 6px;
  border: 1px solid #ddd;
}

/* line 161, ../sass/addons.scss */
.AddonOptions {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background: #fffcf1;
  padding: 3px 0;
  border: none;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
}

/* line 173, ../sass/addons.scss */
.AddonOptions a {
  margin: 0 6px;
}

/* Side Menu */
/* line 178, ../sass/addons.scss */
#Content #SideMenu,
#Content #SideMenu li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* line 184, ../sass/addons.scss */
#Content #SideMenu {
  border: 1px solid #CAF0FE;
  font-size: 110%;
  color: #2786c2;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #e9f9ff;
  padding: 6px 6px 4px;
  margin: 10px 0;
}

/* line 195, ../sass/addons.scss */
#Content #SideMenu li a {
  font-size: 14px;
  font-weight: normal;
}

/* line 199, ../sass/addons.scss */
#Content #SideMenu li.Highlight a {
  color: #ff0084;
}

/* Picture Box */
/* line 204, ../sass/addons.scss */
.PictureBox {
  padding: 10px 10px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #FEF7DF;
  border: 1px solid #EED3A2;
  color: #B76600;
  margin-top: 20px;
  /*   clear: both;*/
}

/* line 214, ../sass/addons.scss */
.PictureBox img {
  border: 1px solid #e5e5e5;
  padding: 2px;
  margin: 4px;
}

/* line 219, ../sass/addons.scss */
.PictureBox img:hover {
  border: 1px solid #bbb;
}

/* Comments */
/* line 223, ../sass/addons.scss */
#Discussion,
#Discussion li,
#Discussion ul,
#Discussion ul li {
  list-style: none !important;
  margin: 0px;
  padding: 0px !important;
}

/* line 231, ../sass/addons.scss */
li.Empty,
#Discussion li.Empty {
  font-size: 15px;
  padding: 8px 2px !important;
}

/* line 236, ../sass/addons.scss */
#vforg_addon_browse li.Empty {
  border-bottom: 0;
}

/* line 239, ../sass/addons.scss */
#Discussion {
  margin-bottom: 1px;
}

/* line 242, ../sass/addons.scss */
#Discussion .Comment {
  clear: left;
  border-bottom: 1px solid #ddd;
}

/* line 246, ../sass/addons.scss */
#Discussion li ul.Info {
  list-style: none;
  float: left;
  font-size: 11px;
  color: #777;
  padding: 8px 0px 0px 8px !important;
}

/* line 253, ../sass/addons.scss */
#Discussion li ul.Info li.Author img {
  height: 40px;
  width: 40px;
  border: 0px;
  margin: 0px 10px 0px 0px;
  float: left;
}

/* line 260, ../sass/addons.scss */
#Discussion li ul.Info li {
  display: inline;
}

/* line 263, ../sass/addons.scss */
#Discussion li ul.Info li.Created,
#Discussion li ul.Info li.Permalink {
  padding-left: 10px !important;
}

/* line 267, ../sass/addons.scss */
#Discussion li ul.Info li.Author a {
  font-size: 15px;
  font-weight: bold;
}

/* line 271, ../sass/addons.scss */
#Discussion li .Body {
  clear: both;
  padding: 1px 8px 4px;
  line-height: 170%;
  color: #454545;
}

/* line 277, ../sass/addons.scss */
#Discussion li .Body p {
  margin: 0;
  padding: 0;
}

/* line 281, ../sass/addons.scss */
#Discussion a.DeleteComment {
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  background: #F8F8F8 url("images/buttonbg.png") repeat-x scroll left center;
  border: 1px solid #BBBBBB;
  color: #555555;
  cursor: pointer;
  float: right;
  font-size: 11px;
  font-weight: normal;
  line-height: 100%;
  margin: 3px 1px 0 0;
  padding: 4px;
  width: auto;
}

/* line 298, ../sass/addons.scss */
#Discussion a.DeleteComment:hover {
  border: 1px solid #888;
  color: #333;
}

/* Addon Comment Form */
/* line 304, ../sass/addons.scss */
#CommentForm {
  background: #e9f9ff;
  padding: 8px;
}

/* line 308, ../sass/addons.scss */
#CommentForm h3 {
  font-size: 115%;
  color: #2786C2;
  font-weight: bold;
}

/* line 313, ../sass/addons.scss */
#CommentForm textarea {
  width: 655px;
  height: 100px;
  min-height: 100px;
  margin: 0px 0px 6px;
  font-size: 15px;
}

/* line 320, ../sass/addons.scss */
#CommentForm input.Button {
  margin-right: 6px;
}

/* line 323, ../sass/addons.scss */
#CommentForm label.Heading {
  font-weight: bold;
  font-size: 100%;
  color: #2786c2;
  line-height: 100%;
  display: block;
  margin-bottom: 4px;
}

/* line 331, ../sass/addons.scss */
.CommentOption {
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-radius-bottom-left: 2px;
  -webkit-border-radius-bottom-right: 2px;
  background: #E9F9FF none repeat scroll 0 0;
  font-size: 13px;
  color: #555555;
  margin: 1px 0 0;
  padding: 6px;
}

/* Search Form */
/* line 343, ../sass/addons.scss */
div.SearchForm {
  margin: 0;
  padding: 8px 8px 6px;
  color: #B76600;
  background: #FEF7DF;
  border: 1px solid #EED3A2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 353, ../sass/addons.scss */
div.SearchForm input.InputBox {
  width: 515px;
  margin: 0 8px 0 0;
}

/* line 357, ../sass/addons.scss */
div.SearchForm input.Button {
  font-size: 14px;
  padding: 8px 4px;
}

/* line 361, ../sass/addons.scss */
div.SearchForm div.Options {
  font-size: 12px;
  padding: 8px 0 0 8px;
}

/* line 365, ../sass/addons.scss */
div.SearchForm a {
  margin: 0 4px 0;
}

/* line 368, ../sass/addons.scss */
div.SearchForm a.ShowAll {
  margin: 0 4px 0 0;
}

/* line 371, ../sass/addons.scss */
div.SearchForm a.Active {
  background: url("images/sprite-menu-buttons.png") center -66px no-repeat;
  padding: 3px 4px 2px;
  color: #FFFFFF;
  text-shadow: 0 1px 1px #4C2305;
  border: 1px solid #c4560d;
  border-top: 1px solid #893907;
  border-bottom: 1px solid #E3610C;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* User Info Box */
/* line 384, ../sass/addons.scss */
div.Box p.ChunkyButton {
  width: 190px;
  padding: 0;
}

/* line 388, ../sass/addons.scss */
div.DownloadBox p.ChunkyButton {
  width: 270px;
}

/* line 391, ../sass/addons.scss */
#Panel p.ChunkyButton {
  width: auto;
  margin: 10px 0 0 0;
  padding: 0;
}

/* line 396, ../sass/addons.scss */
#Panel p.ChunkyButton a {
  font-size: 18px;
  line-height: 2.6;
}

/* line 400, ../sass/addons.scss */
p.ChunkyButton a:hover {
  text-decoration: none !important;
}

/* line 404, ../sass/addons.scss */
div.DownloadPanelBox h4 {
  padding-bottom: 16px;
}

/* DataList */
/*
BUG
li.AddonRow div.Meta {
   clear: left;
}
*/
/* line 459, ../sass/addons.scss */
body.Addons .SearchForm .Options {
  float: none;
}

/* line 462, ../sass/addons.scss */
ul.DataList li.AddonRow div.Meta span span {
  color: #333;
}

/* line 465, ../sass/addons.scss */
ul.DataList div.Meta span {
  margin-right: 4px;
}

/* line 468, ../sass/addons.scss */
span.Approved,
span.Vanilla1,
span.Vanilla2 {
  line-height: 1;
  color: #fff;
  font-weight: bold;
  padding: 2px 6px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  color: #fff;
  background: #999;
}

/* line 481, ../sass/addons.scss */
span.Vanilla2 {
  color: #fff;
  background: #2A529A;
}

/* line 485, ../sass/addons.scss */
span.Approved {
  background: #50C04C;
  color: #fff;
}

/* line 489, ../sass/addons.scss */
div.Hosting div.Host {
  padding: 8px 12px;
  margin: 0 0 10px;
}

/* line 493, ../sass/addons.scss */
div.Hosting div.Featured {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #fff997;
  background: #fffbb5;
}

/* line 499, ../sass/addons.scss */
div.Hosting div.Host h4,
div.Hosting div.Host p {
  margin: 0 !important;
  padding: 0 !important;
}

/* line 504, ../sass/addons.scss */
div.Hosting div.Host img {
  float: right;
  margin: 0 0 2px 8px;
}

/* line 508, ../sass/addons.scss */
#Content div.Box h3 {
  font-size: 13px;
  border: none;
  margin: 0;
  padding: 0 0 4px;
}

/*#Content h2 {
   margin-bottom: 0 !important;
}*/
/*body.Addon #Content h2.Questions {
   clear: both;
   margin-bottom: 0;
   display: block;
   position: relative;
}*/
/* line 523, ../sass/addons.scss */
body.Addon h2.Questions a.TabLink {
  margin-left: 40px;
  font-size: 12px;
  position: absolute;
  top: -6px;
  right: 0;
}

/* Get/Download Addon page */
/* line 532, ../sass/addons.scss */
body#addons_get_index #Content h1 {
  border: none;
}

/* line 535, ../sass/addons.scss */
.DownloadInfo {
  border: none !important;
  background: #F6DAA8 !important;
  color: #744000 !important;
}

/* line 540, ../sass/addons.scss */
.DownloadInfo strong {
  padding: 12px 0 0 !important;
  font-size: 14px !important;
  font-weight: bold;
}

/* line 545, ../sass/addons.scss */
.DownloadInfo p {
  font-size: 13px !important;
  padding: 0 0 12px !important;
  margin: 0;
}

/* line 551, ../sass/addons.scss */
table.Data {
  background: #FEF7DF;
}

/* line 555, ../sass/addons.scss */
table.Data td, table.Data th {
  padding: 4px;
}

/* line 559, ../sass/addons.scss */
table.Data th, table.Data thead td {
  font-weight: bold;
}

/* line 563, ../sass/addons.scss */
table.Data .Alt {
  background: #F6DAA8;
}

/* line 567, ../sass/addons.scss */
.AddonPicture {
  position: relative;
}

/* line 571, ../sass/addons.scss */
.AddonPicture .DeletePicture {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  padding: 0 2px 1px 2px;
  font-family: arial;
  font-weight: bold;
  text-shadow: 0px 0px 10px #000;
}

/* line 582, ../sass/addons.scss */
.Legal .Help {
  width: 357px;
  margin-bottom: 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #ff9;
  padding: 4px 8px;
  border: 1px solid #eec;
}

/* line 594, ../sass/addons.scss */
.VersionsTable {
  width: 100%;
}

/* line 598, ../sass/addons.scss */
.DateColumn {
  text-align: right;
}

/* line 602, ../sass/addons.scss */
body.add #Content h1,
body.newversion #Content h1,
body.icon #Content h1,
body.addpicture #Content h1 {
  padding: 0;
  margin: 0;
}

/* line 609, ../sass/addons.scss */
body.add #Content .Info,
body.newversion #Content .Info,
body.icon #Content .Info,
body.addpicture #Content .Info {
  font-size: 11px;
  padding: 0;
  border: none;
  background: none;
}
