.Item .OptionsMenu { visibility: hidden; }

.Item:hover .OptionsMenu, .OptionsMenu.Open { visibility: visible; }

.Item.Open { z-index: 100; opacity: 1; }

a.Bookmark, a.Bookmarked, a.Bookmarking { background: url("sprites.png") 0 0px no-repeat; margin: 0; }

a.Bookmark:hover { background-position: 0 -20px; }

a.Bookmarked { background-position: 0 -40px; }

a.Bookmarked:hover { background-position: 0 -80px; }

a.Bookmarking { background-position: 0 -60px !Important; }

.OptionsTitle { background: url("sprites.png") 0 -160px no-repeat; height: 20px; width: 26px; border: solid 1px transparent; border-radius: 2px; opacity: .8; }

.OptionsTitle:hover { background-position: 0 -180px !Important; border-color: #bbb; background-color: #f8f8f8; opacity: 1; }

.Open .OptionsTitle { background-position: 0 -200px !Important; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); border-color: #bbb; background-color: #fff; border-radius: 0; opacity: 1; }

.OptionsMenu .Flyout { top: 15px; right: 0; }

.MenuItems { background: #fff; color: #000; border-radius: 0; padding: 6px 0; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); border: solid 1px #bbb; }

.MenuItems:after { content: ""; position: absolute; background: #fff; width: 26px; height: 3px; top: -2px; right: 0; }

/*.MenuItems a, .MenuItems a:link, .MenuItems a:visited, .MenuItems a:active { color: #000 !Important; padding: 6px 18px;
}

.MenuItems a:hover { border-radius: 0; color: #fff !Important; background: #0054d1;
}*/
