body {
    background: url('images/splash-bg2.png') top left repeat-x #f5ebd4;
    text-align: center;
    font-family: 'lucida grande','Lucida Sans Unicode', Tahoma, sans-serif;
}
#Frame {
    width: 750px;
    margin: 0 auto;
    text-align: left;
}
div.Head {
    width: 580px;
    margin: auto;
}
div.Head a {
    margin-top: 20px;
    float: left;
}
img {
    border: none;
}
h1 {
    font-size: 20px;
    color: #af6d1a;
    margin: 0;
    padding: 65px 0 0 230px;
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
}
h1 em {
    font-style: normal;
}
h2 {
    font-size: 21px;
    font-weight: normal;
    color: #fba233;
    display: block;
    text-align: center;
    clear: left;
    margin: 0;
    padding: 40px 0 70px;
    text-shadow: 0 1px 0 #fff;
}
div.Download,
div.Host {
    height: 155px;
    width: 362px;
}
div.Download {
    background: url('images/splash-button-right.png') top left no-repeat;
    float: right;
    padding: 14px 0 0;
    position: relative;
}
div.Download a {
    color: #8F5A00;
    text-shadow: 0 1px 0 #ebbf30;
    text-decoration: none;
}
div.Download a strong {
    font-size: 18px;
    padding: 0 180px 0 30px;
    text-shadow: 0 1px 0 #FFE819;
}
div.Download a img {
    right: -35px;
    bottom: 20px;
}
div.Download a span {
    font-size: 14px;
    float: left;
    width: 240px;
    padding: 4px 0 0 30px;
    line-height: 1.4;
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
}
div.Download a span em {
    color: #7B4E00;
}
div.Download a:hover strong,
div.Download a:hover span em {
    color: #654000;
}

div.Host {
    background: url('images/splash-button-left2.png') top right no-repeat;
    float: left;
    padding: 14px 0 0;
    position: relative;
}
div.Host a {
    color: #01547D;
    text-shadow: 0 1px 0 #27bbdf;
    text-decoration: none;
}
div.Host a strong {
    font-size: 18px;
    padding: 0 180px 0 58px;
    text-shadow: 0 1px 0 #21ECF5;
}
div.Host a img {
    left: -45px;
    bottom: 20px;
}
div.Host a span {
    padding: 4px 25px 0 60px;
    font-size: 14px;
    float: right;
    line-height: 1.4;
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
}
div.Host a span em {
    color: #004363;
}
div.Host a:hover strong,
div.Host a:hover span em {
    color: #003047;
}

div.Download a span em,
div.Host a span em {
    font-style: normal;
    font-weight: bold;
}
div.Download a img,
div.Host a img {
    position: absolute;
    display: block;
}

div.Help {
    padding: 30px 0 40px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fba132;
    text-shadow: 0 1px 0 #fff;
    clear: both;
    text-align: center;
}
div.Help a {
    color: #af6d1a;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}
div.Help a:hover {
    color: #935A15;
}