@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*, *:before, *:after {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

html, body {
     margin: 0;
     padding: 0;
}

body {
     font-family: "Lato", "Lucida Grande", arial;
}

a {
     color: #fff;
     text-decoration: none;
     -webkit-transition: color 200ms;
     -moz-transition: color 200ms;
     -ms-transition: color 200ms;
     -o-transition: color 200ms;
     transition: color 200ms;
}

a:hover {
     color: #f52C6e;
}

h1 {
     margin: 20px;
}

h2 {
     margin: 20px 0;
}

h1,
h2 {
     text-align: center;
}

ul, ol {
     padding: 0;
     margin: 0;
     list-style: none;
}

i.fa-check {
     color: #0291db;
}

.SmallText12 {
     font-size: 12px;
}

.SmallText14 {
     font-size: 14px;
}

.SpanMarginRight {
     margin-right: 36px;
}

.Row {
     margin: 0 auto;
     width: 960px;
}

.Row:before,
.Row:after,
.Columns:before,
.Columns:after {
     content: "";
     display: table;
}

.Row:after,
.Columns:after {
     clear: both;
}

.Columns {
     margin: 0 -20px;
}

.Column {
     float: left;
     width: 50%;
     padding: 0 20px;
}

.Head {
     background-color: #000;
}

.Head .Row {
     padding: 15px 0;
}

.Head .Home {
     display: block;
     float: left;
     height: 73px;
     width: 170px;
     margin-left: 20px;
     overflow: hidden;
     background: url("images/logo-vanilla-white.png") center center no-repeat;
     color: transparent;
     font-size: 1px;
     text-indent: -1000px;
     white-space: nowrap;
}

.Head .Menu {
     padding: 25px 90px 20px 0;
}

.BlueRow {
     height: 70px;
     background-color: #0291db;
}

.IconWrapper {
    width: 100%;
    text-align: center;
}

.OpenSource {
     position: absolute;
     top: 40px;
     left: 200px;
     display: block;
     width: 76px;
     height: 76px;
     overflow: hidden;
     background: url("images/open-source.png") center center no-repeat transparent;
}

.Menu {
     float: right;
}

.Menu a {
     margin-right: 25px;
     font-weight: bold;
     font-size: 16px;
}

.Menu a:last-child {
     margin-right: 0;
}

.Button.Pink.Trial {
     float: right;
     font-weight: 400;
     margin-top: 2px;
}

.ContentRow .HeroRow {
     text-align: center;
     margin-bottom: 15px;
}

.HeroImg img {
     width: 782px;
     height: 440px;
}

.BusinessFeatures,
.OpenSourceFeatures {
     padding: 10px;
     background-color: #fff;
}

.BusinessFeatures .Features,
.OpenSourceFeatures .Features {
     padding-left: 0;
}

.BusinessColumn .Features {
     padding-top: 10px;
}

.OpenSourceColumn .Features {
     padding-top: 10px;
     padding-bottom: 59px;
     margin-bottom: 2px;
}

.OpenSourceColumn .BigButton {
     padding-top: 18px;
}

.Features {
     padding: 0 10px;
}

.Features:before,
.Features:after {
     content: "";
     display: table;
}

.Features:after {
     clear: both;
}

.Features li {
     line-height: 2;
}

.Input {
     padding-left: 10px;
}

.SignUpBox {
     background-color: #f2f2f2;
     padding-top: 20px;
     padding-bottom: 8px;
}

.hs-form.stacked .actions {
     padding: 0 !important;
     margin: 0 !important;
}

.hs-form.stacked .field {
     margin-bottom: 15px !important;
}

.hs-form {
     margin-bottom: 15px !important;
}

.SignUpBoxBusiness {
     background-color: #f2f2f2;
     padding: 20px 8px 5px;
}

#DivBusinessButtonTextTop {
     position: relative;
     top: 129px;
     left: 30px;
     z-index: 100;
     width: 200px;
     margin-top: -44px;
     color: #fff;
     cursor: pointer;
     font-size: 18px;
}

.SignUpBoxBusiness label{
     display: none !important;
}

.SignUpBoxOpenSource label{
     display: none !important;
}

.SignUpBoxBusiness .hs-input {
     width: 96% !important;
     height: 30px !important;
     padding-left: 10px;
     text-align: center;
     font-size: 18px;
     color: #000;
     border-radius: 0;
}

.SignUpBoxBusiness input[type="submit"] {
     display: inline-block;
     width: 90%;
     height: 62px;
     padding: 0 20px;
     font-size: 16px;
     font-weight: 400;
     color: #fff;
     text-align: center;
     text-shadow: 0 -1px rgba(0,0,0,.5);
     border-radius: 0;
     background: #0396dc;
     box-shadow: none !important;
     border: none !important;
     -webkit-transition: background-color 200ms;
     -moz-transition: background-color 200ms;
     -ms-transition: background-color 200ms;
     -o-transition: background-color 200ms;
     transition: background-color 200ms;
}

.SignUpBoxBusiness input[type="submit"]:hover {
     background: #0387c4;
     text-shadow: 0 0 2px #037cb5;
}

.SignUpBoxOpenSource {
     background-color: #f2f2f2;
     padding: 20px 8px 5px;
}

#DivOpenSourceButtonTextTop {
     position: relative;
     top: 115px;
     left: 20px;
     width: 280px;
     z-index: 100;
     margin-top: -46px;
     color: #fff;
     text-align: center;
     font-size: 18px;
}

.SignUpBoxOpenSource .hs-input {
     width: 96% !important;
     height: 30px !important;
     padding-left: 10px;
     text-align: center;
     font-size: 18px;
     color: #000;
     border-radius: 0;
}

.SignUpBoxOpenSource input[type="submit"] {
     display: inline-block;
     width: 90%;
     height: 62px;
     padding: 0 20px;
     font-size: 16px;
     font-weight: 400;
     color: #fff;
     text-align: center;
     text-shadow: 0 -1px rgba(0,0,0,.5);
     border-radius: 0;
     background: #b4b4b4;
     box-shadow: none !important;
     border: none !important;
     -webkit-transition: background-color 200ms;
     -moz-transition: background-color 200ms;
     -ms-transition: background-color 200ms;
     -o-transition: background-color 200ms;
     transition: background-color 200ms;
}

.SignUpBoxOpenSource input[type="submit"]:hover {
     background: #949494;
     text-shadow: 0 0 2px #7d7d7d;
}

.TopRocket,
.BottomRocket {
     position: relative;
     top: 140px;
     right: 30px;
     margin-top: -75px;
     z-index: 1000;
     float: right;
     cursor: pointer;
     color: #f52C6e;
}

.TopOSSDownload,
.BottomOSSDownload {
     position: relative;
     top: 145px;
     right: 30px;
     margin-top: -60px;
     z-index: 1000;
     float: right;
     cursor: pointer;
     color: #fff;
}

.BusinessInput,
.OpenSourceInput {
     width: 98%;
     height: 40px;
     text-align: center;
     font-size: 18px;
     color: #000;
     border: 1px solid #000;
}

.Info {
     margin: 15px 0;
     padding: 0 10px;
     color: #555;
     font-size: 14px;
     line-height: 1;
     text-align: center;
     vertical-align: middle;
}

.Info h3 {
     color: #000;
     font-size: 16px;
}

.Info h3, .Info p {
     margin: 0;
}

.Info .Buttons {
     margin: 10px -10px 0;
}

.Info .Buttons:after {
     content: "";
     display: table;
     clear: both
}

.Info .Buttons li {
     float: left;
     width: 50%;
     padding: 0 10px;
}

.Info .Buttons .Button {
     display: block;
}

.About {
     margin-top: 25px;
}

.About strong {
     font-weight: bold;
     color: #a00;
}

.BottomRow {
}

#DivBusinessButtonTextBottom {
     position: relative;
     top: 129px;
     left: 30px;
     width: 200px;
     z-index: 100;
     margin-top: -42px;
     color: #fff;
     font-size: 18px;
}

#DivOpenSourceButtonTextBottom {
     position: relative;
     top: 115px;
     left: 20px;
     width: 280px;
     z-index: 100;
     margin-top: -43px;
     color: #fff;
     text-align: center;
     font-size: 18px;
}

.OpenSourceFeaturesWrapper {
     padding-bottom: 198px;
     padding-top: 4px;
}

.OpenSourceColumn .BigButton {
     padding-top: 18px;
}

.BottomBusinessColumn .BigButton {
    padding-top: 20px;
}

.BottomOpenSourceColumn .BigButton {
    padding-top: 20px;
}

.BottomOpenSourceColumn .SignUpBoxOpenSource {
     padding-bottom: 25px;
}

.SignUpBox .Text{
     padding: 0 10px;
}

.Foot {
     margin-top: 60px;
}

.Foot .Row {
     padding: 30px 0;
     border-top: 1px solid #ddd;
     text-align: center;
}

.Foot label {
     display: block;
     margin-bottom: 20px;
     color: #999;
     font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
     font-size: 13px;
     text-shadow: 0 -1px 0px #fff;
}

.Foot strong {
     display: block;
     height: 40px;
     overflow: hidden;
     background: url("images/who-uses-us.png") 8px 0 no-repeat transparent;
     text-align: left;
     text-indent: -9999em;
     white-space: nowrap;
}

/**
 * Buttons
 */

.Button {
     display: inline-block;
     padding: 4px 14px;
     font-size: 14px;
     font-weight: 400;
     line-height: 2;
     color: #fff;
     text-align: center;
     text-shadow: 0 -1px rgba(0,0,0,.5);
     border-radius: 0;
     -webkit-transition: background-color 200ms;
         -moz-transition: background-color 200ms;
          -ms-transition: background-color 200ms;
            -o-transition: background-color 200ms;
                transition: background-color 200ms;
}

.BigButton {
     display: inline-block;
     width: 100%;
     height: 64px;
     padding: 8px 20px;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
     color: #fff;
     text-align: center;
     text-shadow: 0 -1px rgba(0,0,0,.5);
     border-radius: 0;
     vertical-align: middle;
     -webkit-transition: background-color 200ms;
     -moz-transition: background-color 200ms;
     -ms-transition: background-color 200ms;
     -o-transition: background-color 200ms;
     transition: background-color 200ms;
}

a.Button:hover,
a.BigButton:hover {
     color: #fff;
}

.Button,
.Button:hover { text-decoration: none; }

.Button.Trial {
     height: 70px;
     padding-top: 10px;
     font-size: 16px;
     line-height: 1.5;
}

.Button.Blue,
.BigButton.Blue {
     background: #0396dc;
}

.Button.Blue:hover,
.BigButton.Blue:hover {
     background: #0387c4;
     text-shadow: 0 0 2px #037cb5;
}

.Button.Green,
.BigButton.Green {
     background: #3aa400;
}

.Button.Green:hover,
.BigButton.Green:hover {
     background: #4cbc01;
     text-shadow: 0 0 2px #174901;
}

.Button.Green:focus,
.BigButton.Green:focus {
     background: #1f6600;
     border-color: #0a2100;
}

.Button.Purple,
.BigButton.Purple {
     background: #b32c70;
}

.Button.Purple:hover,
.BigButton.Purple:hover {
     background: #d43f8b;
     text-shadow: 0 0 2px #53042c;
}

.Button.Purple:focus,
.BigButton.Purple:focus {
     background: #8b114f;
}

.Button.Pink,
.BigButton.Pink {
     background: #f52C6e;
}

.Button.Pink:hover,
.BigButton.Pink:hover {
     background: #f40b59;
     text-shadow: 0 0 2px #ea0b55;
}

.Button.Pink:focus,
.BigButton.Pink:focus {
     background: #f64681;
}

.Button.Grey,
.BigButton.Grey {
     background: #929292;
}

.Button.Grey:hover,
.BigButton.Grey:hover {
     background: #828282;
     text-shadow: 0 0 2px #7d7d7d;
}
