@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

*, *:before, *:after {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}

html, body {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Open Sans", "Lucida Grande", arial;
}

.Row {
   margin: 0 auto;
   width: 960px;
}

.Row:after, .Columns:after {
   content: "";
   display: table;
   clear: both
}

.Columns {
   margin: 0 -20px;
}

.Column {
   float: left;
   width: 50%;
   padding: 0 20px;
}

a {
   color: #012f6e;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

h1 {
   text-align: center;
}

h2 {
   font-size: 20px;
   margin: 20px 0;
}

ul, ol {
   list-style: none;
   margin: 0;
   padding: 0;
}

.Head .Row {
   position: relative;
   padding: 20px 0 15px;
   border-bottom: 1px solid #ddd;
}

.Head .Home {
   display: block;
   float: left;
   height: 61px;
   width: 132px;
   margin-left: 20px;
   overflow: hidden;
   background: url("images/vanilla-forums-logo-132x61.png") center center no-repeat;
   color: transparent;
   font-size: 1px;
   text-indent: -1000px;
   white-space: nowrap;
}

.Head .Menu {
   margin-top: 28px;
}

.OpenSource {
   position: absolute;
   top: 40px;
   left: 160px;
   display: block;
   width: 76px;
   height: 76px;
   overflow: hidden;
   background: url("images/open-source.png") center center no-repeat transparent;
}

.Menu {
   float: right;
}

.Menu a {
   margin-right: 20px;
   font-weight: bold;
   font-size: 14px;
}

.Menu a:last-child {
   margin-right: 0;
}

.Features {
   padding-left: 15px;
}

.Features li {
   line-height: 2;
}

.Info {
   min-height: 72px;
   margin: 15px 0;
   padding: 20px;
   background: #FAFAFA;
   border-radius: 2px;
   border: 1px solid #EFEFEF;
   color: #555;
   font-size: 14px;
   line-height: 24px;
}

.Info h3 {
   color: #000;
   font-size: 16px;
}

.Info h3, .Info p {
   margin: 0;
}

.Info .Buttons {
   margin: 10px -10px 0;
}

.Info .Buttons:after {
   content: "";
   display: table;
   clear: both
}

.Info .Buttons li {
   float: left;
   width: 50%;
   padding: 0 10px;
}

.Info .Buttons .Button {
   display: block;
}

.About {
   margin-top: 25px;
}

.About strong {
   font-weight: bold;
   color: #a00;
}

.Foot {
   margin-top: 60px;
}

.Foot .Row {
   padding: 30px 0;
   border-top: 1px solid #ddd;
   text-align: center;
}

.Foot label {
   display: block;
   margin-bottom: 20px;
   color: #999;
   font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
   font-size: 13px;
   text-shadow: 0 -1px 0px #fff;
}

.Foot strong {
   display: block;
   height: 40px;
   overflow: hidden;
   background: url("images/who-uses-us.png") 8px 0 no-repeat transparent;
   text-align: left;
   text-indent: -9999em;
   white-space: nowrap;
}

/**
 * Buttons
 */

.Button {
   display: inline-block;
   padding: 4px 14px;
   border-radius: 3px;
   color: #FFF;
   font-weight: bold;
   font-size: 14px;
   line-height: 2;
   text-align: center;
   text-shadow: 0 -1px 2px rgba(0, 0, 0, .5);
}

.Button,
.Button:hover { text-decoration: none; }

.Button {
   -webkit-box-shadow: 0 0 4px #BBB, inset 0 0 1px rgba(255, 255, 255, .5);
      -moz-box-shadow: 0 0 4px #BBB, inset 0 0 1px rgba(255, 255, 255, .5);
           box-shadow: 0 0 4px #BBB, inset 0 0 1px rgba(255, 255, 255, .5);
}

.Button:focus {
   -webkit-box-shadow: none;
      -moz-box-shadow: none;
           box-shadow: none;
}

.Button.Green {
   background: #2c9000;
   background: -webkit-gradient(linear, center bottom, center top, from(#2c9000), to(#4cbc01));
   background: -moz-linear-gradient(top, #4cbc01, #2c9000);
   background: linear-gradient(top, #4cbc01, #2c9000);
   border: 1px solid #2a690f;
}

.Button.Green:hover {
   background: #4cbc01;
   text-shadow: 0 0 2px #174901;
}

.Button.Green:focus {
   background: #1f6600;
   border-color: #0a2100;
}

.Button.Purple {
   background: #981d5a;
   background: -webkit-gradient(linear, center bottom, center top, from(#981d5a), to(#d43f8b));
   background: -moz-linear-gradient(top, #d43f8b, #981d5a);
   background: linear-gradient(top, #d43f8b, #981d5a);
   border: 1px solid #5c0531;
}

.Button.Purple:hover {
   background: #d43f8b;
   text-shadow: 0 0 2px #53042c;
}

.Button.Purple:focus {
   background: #8b114f;
}

/**
 * Slider
 */

#Slider > ul, #Slider > ul > li {
   margin: 0;
   padding: 0;
   list-style: none;
}

#Slider > li {
   width: 480px;
   height: 310px;
   overflow: hidden;
}

.Splash {
   overflow: hidden;
   position: relative;
   text-align: center;
   width: 960px;
   height: 320px;
}

.SplashSlider {
   border-bottom: 1px solid #ddd;
}

.SplashNav {
   position: relative;
   margin-bottom: 25px;
}

.SplashDots {
   text-align: center;
   position: relative;
   margin: 10px auto;
   left: 0;
   z-index: 150;
}

.SplashDots a {
   display: inline-block;
   height: 12px;
   width: 12px;
   margin: 0 4px;
   overflow: hidden;
   z-index: 200;

   background-image: linear-gradient(top, #EEEEEE 23%, #CCCCCC 62%);
   background-image: -o-linear-gradient(top, #EEEEEE 23%, #CCCCCC 62%);
   background-image: -moz-linear-gradient(top, #EEEEEE 23%, #CCCCCC 62%);
   background-image: -webkit-linear-gradient(top, #EEEEEE 23%, #CCCCCC 62%);
   background-image: -ms-linear-gradient(top, #EEEEEE 23%, #CCCCCC 62%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.23, #EEEEEE), color-stop(0.62, #CCCCCC));

   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   border: 1px solid #aaa;
   box-shadow: inset 0 1px 0 #fff, 0 1px 1px #333;
   -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 1px #333;
   -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 1px #333;
}

.SplashDots a:hover {
   background: #91DEFD;
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   border: 1px solid #279eda;
   box-shadow: inset 0 0 2px #279eda;
   -moz-box-shadow: inset 0 0 2px #279eda;
   -webkit-box-shadow: inset 0 0 2px #279eda;
}

.SplashDots a.Current {
   background-image: linear-gradient(top, #91DEFD 23%, #46BAEF 62%);
   background-image: -o-linear-gradient(top, #91DEFD 23%, #46BAEF 62%);
   background-image: -moz-linear-gradient(top, #91DEFD 23%, #46BAEF 62%);
   background-image: -webkit-linear-gradient(top, #91DEFD 23%, #46BAEF 62%);
   background-image: -ms-linear-gradient(top, #91DEFD 23%, #46BAEF 62%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.23, #91DEFD), color-stop(0.62, #46BAEF));
   border: 1px solid #279eda;
   box-shadow: inset 0 1px 0 #e0f6ff, 0 1px 1px #888;
   -moz-box-shadow: inset 0 1px 0 #e0f6ff, 0 1px 1px #888;
   -webkit-box-shadow: inset 0 1px 0 #e0f6ff, 0 1px 1px #888;
}

.SplashArrow {
   position: absolute;
   padding: 0;
   width: 40%;
   display: block;
   z-index: 50;
   cursor: pointer;
   top: -330px;
   height: 320px;
}

.SplashLeft {
   left: 0;
}

.SplashRight {
   text-align: right;
   right: 0;
}

.SplashArrow a {
   margin: 130px 20px 0;
   display: none;
   height: 38px;
   width: 38px;
   background: url("images/nav-arrows.png") 0 -38px no-repeat transparent;
   line-height: 1;
   z-index: 300;
}

.SplashLeft:hover a,
.SplashLeft:active a,
.SplashRight:hover a,
.SplashRight:active a {
   display: inline-block !important;
}

.SplashLeft a:hover {
   background-position: 0 0;
}

.SplashRight a {
   background-position: -38px -38px;
}

.SplashRight a:hover {
   background-position: -38px 0;
}

.SpCheck {
   display: inline-block;
   width: 30px;
   height: 30px;
   margin-right: 6px;
   vertical-align: middle;
   background: url("../../dashboard/design/images/check.png") 0 0 no-repeat transparent;
}
