/** Begin Soompi Webfonts **/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxsBo4hlZyBvkZICS3KpNonM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff') format('woff');
}
body {
   font-family: 'Open Sans', 'Lucida Grande', arial;
}
.Head .Home {
   background: url('images/vanilla-forums-logo-132x61.png') center center no-repeat;
   display: block;
   height: 61px;
   width: 132px;
   overflow: hidden;
   color: transparent;
   font-size: 1px;
   text-indent: -1000px;
   white-space: nowrap;
   margin: 0 0 0 20px;
}
.Row {
    margin: 0 auto;
    width: 960px;
}
a {
    color: #012f6e;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.Head {
    margin: 20px 0;
}
.Head .Row {
   position: relative;
   padding: 0 0 20px;
   border-bottom: 1px solid #ddd;
}
.Menu {
    position: absolute;
    top: auto;
    bottom: 12px;
    right: 0;
}
.Menu a {
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
}
.Menu a.Hosting {
    margin: 0;
    color: #f60;
    padding: 6px 10px;
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
}
.Menu a.Hosting:hover {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    background: #f60;
    text-decoration: none;
    box-shadow: inset 0 0 2px #fccfb1;
    -moz-box-shadow: inset 0 0 2px #fccfb1;
    -webkit-box-shadow: inset 0 0 2px #fccfb1;
    border: 1px solid #f60;
    text-shadow: 0 -1px 0 #a94502;
}
.Hosting span {
    display: block;
    font-weight: normal;
    font-size: 12px;
    color: #000;
}
.Hosting:hover span {
    color: #fff;
}
/*
.Menu a.Download {
    margin: 0;
    color: #393;
    padding: 6px 10px;
    border: 1px solid transparent;
}
.Menu a.Download:hover {
    border-radius: 4px;
    color: #fff;
    background: #393;
    text-decoration: none;
    box-shadow: inset 0 0 2px #70c470;
    border: 1px solid #393;
    text-shadow: 0 -1px 0 #030;
}
*/
.Column {
   vertical-align: top;
}
.Col1, .Col2 {
    padding: 0 20px;
    stext-align: center;
}
.Col1 {
    width: 445px;
    float: left;
}
.Col2 {
    width: 410px;
    overflow: hidden;
}
.AboveFold .Col1 p {
   padding-right: 10px;
}
.AboveFold p strong {
    font-weight: bold;
    color: #a00;
}
#Slider > ul, #Slider > ul > li {
	margin:0;
	padding:0;
	list-style:none;
}
#Slider > li { 
	/* 
		define width and height of list item (slide)
		entire slider area will adjust according to the parameters provided here
	*/ 
	width:480px;
	height:310px;
	overflow:hidden; 
}	
.Splash {
   overflow:hidden; 
   position: relative;
   text-align: center;
   width: 960px;
   height: 320px;
}
.SplashSlider {
   border-bottom: 1px solid #ddd;
}
.SplashNav {
    position: relative;
}
.AboveFold .Col2 {
   position: relative;
}
.SplashDots {
	text-align: center;
	position: relative;
	margin: 10px auto;
	left: 0;
	z-index: 150;
}
.SplashDots a {
    display: inline-block;
    height: 12px;
	width: 12px;
   margin: 0 4px;
   overflow: hidden;
	z-index: 200;
   
   background-image: linear-gradient(top, #EEEEEE 23%, #CCCCCC 62%);
   background-image: -o-linear-gradient(top, #EEEEEE 23%, #CCCCCC 62%);
   background-image: -moz-linear-gradient(top, #EEEEEE 23%, #CCCCCC 62%);
   background-image: -webkit-linear-gradient(top, #EEEEEE 23%, #CCCCCC 62%);
   background-image: -ms-linear-gradient(top, #EEEEEE 23%, #CCCCCC 62%);
   background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.23, #EEEEEE),
      color-stop(0.62, #CCCCCC)
   );
   
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   border: 1px solid #aaa;
   box-shadow: inset 0 1px 0 #fff, 0 1px 1px #333;
   -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 1px #333;
   -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 1px #333;
}
.SplashDots a:hover {
   background: #91DEFD;
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   border: 1px solid #279eda;
   box-shadow: inset 0 0 2px #279eda;
   -moz-box-shadow: inset 0 0 2px #279eda;
   -webkit-box-shadow: inset 0 0 2px #279eda;
}
.SplashDots a.Current {
   background-image: linear-gradient(top, #91DEFD 23%, #46BAEF 62%);
   background-image: -o-linear-gradient(top, #91DEFD 23%, #46BAEF 62%);
   background-image: -moz-linear-gradient(top, #91DEFD 23%, #46BAEF 62%);
   background-image: -webkit-linear-gradient(top, #91DEFD 23%, #46BAEF 62%);
   background-image: -ms-linear-gradient(top, #91DEFD 23%, #46BAEF 62%);
   background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.23, #91DEFD),
      color-stop(0.62, #46BAEF)
   );   
   border: 1px solid #279eda;
   box-shadow: inset 0 1px 0 #e0f6ff, 0 1px 1px #888;
   -moz-box-shadow: inset 0 1px 0 #e0f6ff, 0 1px 1px #888;
   -webkit-box-shadow: inset 0 1px 0 #e0f6ff, 0 1px 1px #888;
}
.SplashArrow {
	position: absolute;
	padding: 0;
	width: 40%;
	display: block;
	z-index: 50;
	cursor: pointer;
   top: -330px;
   height: 320px;
}
.SplashLeft { left: 0; }
.SplashRight {
	text-align: right;
	right: 0;
}
.SplashArrow a {
	margin: 130px 20px 0;
	display: none;
	height: 38px;
	width: 38px;
	background: url('images/nav-arrows.png') 0 -38px no-repeat transparent;
	line-height: 1;
	z-index: 300;
}
.SplashLeft:hover a,
.SplashLeft:active a,
.SplashRight:hover a,
.SplashRight:active a {
	display: inline-block !important;	
}
.SplashLeft a:hover { background-position: 0 0; }
.SplashRight a { background-position: -38px -38px; }
.SplashRight a:hover { background-position: -38px 0; }
.Fold .Row {
   clear: left;
   border-bottom: 1px solid #ddd;
}
.Foot .Row {
   clear: left;
}
.OpenSource {
    background: url('images/open-source.png') center center no-repeat transparent;
    overflow: hidden;
    display: block;
    position: absolute;
    height: 76px;
    width: 76px;
    top: 20px;
    left: 160px;
}



.SpFlat,
.SpFrown,
.SpSad,
.SpCheck {
   vertical-align: middle;
   height: 30px;
   width: 30px;
   display: inline-block;
   background: url('../../dashboard/design/images/check.png') 0 0 no-repeat transparent;
   margin-right: 6px;
}

.BelowFold ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.BelowFold ul li {
    line-height: 2;
    padding-left: 20px;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 20px;
    margin: 20px 10px;
}
.AboutVanilla p {
    display: inline-block;
    width: 450px;
    vertical-align: top;
    margin: 0 0 20px;
}
.AboutVanilla p:last-child {
    margin-left: 50px;
}
.HostInfo,
.DownloadInfo {
    background: #fafafa;
    border: 1px solid #efefef;
    padding: 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 14px;
    color: #555;
    min-height: 70px;
}
.HostInfo,
.DownloadInfo strong {
    font-size: 16px;
    color: #000;
}
.Foot {
    clear: both;
}
.Foot .Row {
    clear: both;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}
.Cred {
   margin: 30px 0;
   text-align: center;
   padding: 0 10px;
}
.Cred label {
   font-family: GoothamRound,'lucida grande','Lucida Sans Unicode',tahoma;
   color: #999;
   font-size: 13px;
   text-shadow: 0 -1px 0px #fff;
}
.Cred strong {
   display: block;
	background: url('images/who-uses-us.png') 8px 0 no-repeat transparent;
	height: 40px;
	width: auto;
	overflow: hidden;
	color: transparent;
	font-size: 1px;
   text-align: left;
   text-indent: -920px;
}








/* Buttons */


.GreenButton,
.GreenButton:hover,
.GreenButton:focus {
   display: inline-block;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background: #2c9000;
	background:-webkit-gradient(linear, center bottom, center top, from(#2c9000), to(#4cbc01));
	background:-moz-linear-gradient(top, #4cbc01, #2c9000);
	-pie-background:linear-gradient(top, #4cbc01, #2c9000);
	background:linear-gradient(top, #4cbc01, #2c9000);
	border: 1px solid #2a690f;
   color: #fff;
   text-shadow: 0 -1px 2px #174901; 
	box-shadow: inset 0 0 1px #c2ffbc, 0 0 4px #bbb;
	-moz-box-shadow: inset 0 0 1px #c2ffbc, 0 0 4px #bbb;
	-webkit-box-shadow: inset 0 0 1px #c2ffbc, 0 0 4px #bbb;
   padding: 4px 14px;
   margin: 10px 0 0;
	font-weight: bold;
   font-size: 14px;
   line-height: 2;
   text-decoration: none;
}
.GreenButton:hover {
	background: #4cbc01;
   text-shadow: 0 0 2px #174901; 
}
.GreenButton:focus {
	background: #1f6600;
	border-color: #0a2100;
}
.PurpleButton,
.PurpleButton:hover,
.PurpleButton:focus {
   display: inline-block;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;

   background: #981d5a;
	background:-webkit-gradient(linear, center bottom, center top, from(#981d5a), to(#d43f8b));
	background:-moz-linear-gradient(top, #d43f8b, #981d5a);
	-pie-background:linear-gradient(top, #d43f8b, #981d5a);
	background:linear-gradient(top, #d43f8b, #981d5a);
	border: 1px solid #5c0531;
   color: #fff;
   text-shadow: 0 -1px 1px #53042c;   
	box-shadow: 0 0 4px #bbb, inset 0 0 1px #ff8af8;
	-moz-box-shadow: 0 0 4px #bbb, inset 0 0 1px #ff8af8;
	-webkit-box-shadow: 0 0 4px #bbb, inset 0 0 1px #ff8af8;
   padding: 4px 14px;
	font-weight: bold;
   font-size: 14px;
   line-height: 2;
   text-decoration: none;

}
.PurpleButton:hover {
	background: #d43f8b;
   text-shadow: 0 0 2px #53042c;   
}
.PurpleButton:focus {
   background: #8b114f;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
}