/* Features */
body.Features #Panel {
	display: none;
}
body.Features #Body {
   padding: 30px 0;
}
body.Features #Content {
	width: 100%;
	color: #744000;
}
div.Features {
	text-align: center;
	margin:0;
	padding:10px 0 0;
	clear: both;
}
#Content .Features h1 {
	border: none;
	font-size: 25px;
}
#Content .Features h2 {
	padding: 0 4px;
	border: none;
}
#FeatureList {
	padding: 30px 0;
}
 #FeatureList a {
	color: #ffffff;
	background: #CB7100;
	-moz-border-radius: 2px;
	-web-kit-border-radius: 2px;
	-border-radius: 2px;
	margin:0 8px;
	padding:2px 4px;
	text-shadow:none;
}
#FeatureList a.Active {
	background: #643800;
}
#FeatureList a:hover {
	color: #fff;
	background:#feaa40;
}
.FeaturesFooter {
	padding: 30px 0;
	text-align: center;
}
.FeaturesFooter a,
.FeaturesFooter a:link,
.FeaturesFooter a:visited,
.FeaturesFooter a:active {
	color:#744000;
	margin:0 8px;
	padding:2px 4px;
	text-shadow:none;
}
.FeaturesFooter a:hover{
	color: #ffffff;
	background: #CB7100;
	-moz-border-radius: 2px;
	-web-kit-border-radius: 2px;
	-border-radius: 2px;
}


/* Services */
body.services #Panel {
	display: none;
}
body.services #Body {
   padding: 30px 0;
}
body.services #Content {
	width: auto;
	color: #744000;
}
div.Services {
	text-align: center;
	margin: 20px 0 0;
}
#Content .Services h1 {
	border: none;
	font-size: 25px;
}
#Content .Service h2 {
	padding: 0 4px;
	border: none;
}
div.Service {
	padding: 20px 0;
	width: 304px;
	display: inline-block;
	vertical-align: top;
}
div.Support {
	margin: 0 24px;
}
div.Service p.Buttons {
	padding-top: 10px;
}
div.Popup div.Plan {
	padding: 10px;
	background: #fdf9ed;
}
div.Popup div.Plan strong {
	font-weight: bold;
}
div.Popup div.Plan div.Cost {
	float: right;
	color: #0a730d;
	font-weight: bold;
}
div.Popup div.Plan p {
	padding: 0 6px 6px;
}
div.Popup div.Plan ul {
	margin: 0 30px;
}
div.Popup div.Plan ul li {
	list-style: disc;
}
div.Popup div.Contact {
	font-weight: bold;
	padding: 10px;
	background: #fff;
}

.Banner ul li.Features,
.Banner ul li.Features:hover { background-position: left -64px; }
.Banner ul li.Features a,
.Banner ul li.Features a:hover {
	background-position: right -64px;
	color: #fff;
	text-shadow: 0 1px 1px #4C2305;
}


/* Brendan's Hot Mess */

/* marketing pages */

#marketing_wrap {
 border-top: 1px solid #744000;
  padding: 20px 0 20px 0;
  min-height: 400px;
}


div.Feature, .FeatureSections {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:0 1px 0 #ddd;
	float:left;
	margin:20px 0 30px;
	padding:10px 0;
	width:100%;
}


.FeaturePage .Feature {
	height:auto;
	margin-bottom:20px;
}
div.Feature {
	padding:10px 0 0;
	text-align:left;
}
.FeaturePage .Feature div {
	float:none;
	margin:0;
	width:auto;
}
.FeaturePanel span.Description {
	clear:both;
	display:block;
	padding:0 0 0 35px;
}
.FeaturePanel img {
	float:right;
}
.Feature img {
	padding-left:10px;
}
.FeaturePanel span.Description strong {
	color:#333333;
	display:block;
	padding:30px 0 0;
	text-shadow:0 1px 0 #9DD8F8;
	font-size:16px;
}
.FeaturePanel span.Description p {
	font-weight:bold;
	padding:0;
}
div.SubHead, div.Info {
	clear:both;
	padding:0 0 16px;
	text-align:center;
}

div.Center {
	margin:0 auto;
	text-align:left;
	width:960px;
}
div.SubHead p.SubSubHead, div.Info p {
	color:#FFFFFF;
	font-weight:400;
	margin:0;
	padding:10px 0 0;
	text-shadow:0 1px 1px #0093F8;
}
.FeatureSections div {
	float:left;
	margin:0 15px;
	width:290px;
}
.FeatureSections div.Import{
	float:left;
	margin:0 15px;
	width:900px;
}
.FeatureSections div.ImportSide{
	float:left;
	margin:20px 0 0 60px;
	width:370px;
}

.FeatureSections div.ImportScreen{
	float:left;
	margin:0;
	width:550px;
}
.FeatureSections div.WordPressScreen{
	float:left;
	margin:0 0 0 15px;
	width:450px;
}
.FeatureSections div.videoDesc{
	float:left;
	margin:0 0 0 15px;
	width:450px;
}
.FeatureSections div.video{
	float:left;
	margin:0 0 0 15px;
	width:450px;
}
div.event_pic{
	float:left;
	margin:0 0 0 15px;
	width:600px;
}
.FeatureSections div.post_events_list{
	float:left;
	margin:0 0 0 15px;
	width:500px;
}
	.FeatureSections div.post_events_entry{
			width:450px;
			margin:0;
	}
	
	.FeatureSections div.invite_vanilla{
			width:400px;
			margin:0;
	}
	
.FeatureSections div.post_events_single{
			padding:10px;
			width:900px;
	}
	
.FeatureSections div.team{
	float:left;
	margin:0 0 0 15px;
	width:220px;
}
.FeatureSections div.BoxLeft{
	float:left;
	margin:0 0 0 40px;
	width:370px;
}
.FeatureSections div.BoxRight{
	float:left;
	margin:0 0 0 80px;
	width:370px;
}

div.BoxRight ol, div.BoxLeft ol {
	margin:0 32px;
	padding:0 50px;
	width:300px;
}

.FeatureSections div.Buts{
	float:left;
	margin:0;
	width:50%;
}
.FeaturePage p, .Feature li, .FeatureSections p.About, .FeatureSections p, p.About {
	clear:left;
	color:#000;
	font-size:13px;
	line-height:1.4;
	margin:0;
	padding:6px 3px 3px;
	text-shadow:0 1px 0 #fff;
}

.SmallBlueButton, .BlueButton {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:transparent url(images/bg-button-blue.png) repeat-x scroll left top;
	border:1px solid #0F7FE6;
	color:#003673;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0 1px 0 #B7F5FD;
}
.Feature h4, .FeatureSections h4 {
	color:#FFFFFF;
	font-size:22px;
	font-weight:400;
	line-height:2;
	margin:0;
	padding:0;
	text-shadow:0 1px 0 #000000;
}
.Feature h4.blue, .FeatureSections h4.blue {
	color:#003B82;
	text-shadow:0 1px 0 #fff;
}

p.button {
	margin:0;
	padding:10px 0;
}



.FeatureSections li {
	clear:left;
	color:#013F77;
	font-size:12px;
	line-height:1.4;
	margin:0 0 0 10px;
	padding:6px 3px 3px 3px;
	text-shadow:0 1px 0 #9DD8F8;
		font-weight:bold;

}



div.Feature h4 {
padding:0 10px;
}


div.FeatureSections div.Message {
	float:left;
	text-align:left;
	width:370px;
}

div.FeatureSections div.Preview {
	
	background:transparent url(images/screenshot.png) no-repeat scroll right top;
	height:411px;
	margin:10px 0 0 370px;
	width:603px;
}

.btn{
	margin:15px 0 0 30px;
}

table.Compare tbody td,
table.Compare tbody th {
	background: #fff;
	border-right: 1px solid #dbf5ff;
	font-size: 12px;
	padding: 6px;
}
table.Compare tbody th span {
	font-weight: normal;
}
table.Compare thead td,
table.Compare tfoot td,
table.Compare tbody tr.Alt td,
table.Compare tbody tr.Alt th {
	background: #dbf5ff;
	border-right: 1px solid #bcebff;
}
table.Compare {
	color: #013f77;
	text-align: center;
	text-shadow:0px 0px 0px #fff;
}
table.Compare tbody tr.PriceRow td,
table.Compare tbody tr.PriceRow th {
	font-weight: bold;
	font-size: 13px;
	padding: 12px 6px;
}
table.Compare tbody tr.PriceRow th {
	font-size: 14px;
	
}
table.Compare tbody th {
	text-align: left;
		font-weight:bold;

}
input.InputBox {
	color:#000000;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:3px;
	width:300px;
}

#back {
	clear:inherit;
	float:right;
	margin:0 15px;
}
#back a{
	color:#003673 !important;
}
#back a:hover{
	color:#001F44 !important;
	text-decoration:none;
	
}
a.Plans{
	
	background:transparent url(images/sprite-plans-btn.png) no-repeat scroll left top;
	color:#184E00;
	display:block;
	font-family:'lucida grande','Lucida Sans Unicode',tahoma,sans-serif;
	font-size:12px;
	height:70px;
	margin-top:5px;
	text-align:center;
	text-shadow:0 1px 0 #45C408;
	width:370px;

}
a:hover.Plans{
	text-decoration:none;
}
#FeatureCopy{
	padding:260px 0 0 85px;
	position:absolute;
	width:300px;
	z-index:100;
}
#FeatureDownload{
	padding:440px 0 0 560px;
	position:absolute;
	z-index:300;
}
#FeatureEmbedDescript{
	padding:155px 0 0 25px;
	position:absolute;
	width:300px;
	z-index:100;
}
#FeatureEmbedDescriptThemes{
	padding:200px 0 0 100px;
	position:absolute;
	width:300px;
	z-index:100;
}
#FeatureEmbedDescriptMobile{
	padding:220px 0 0 100px;
	position:absolute;
	width:310px;
	z-index:100;
}

#FeatureApiDescriptThemes{
	padding:290px 0 0 200px;
position:absolute;
text-align:center;
width:560px;
z-index:100;
}


.ThemesScreens {
	margin:0 0 0 170px;
}

.ThemesScreens img{
	margin:0 10px 10px 0;
	border:5px solid #CB7100;
}
.ThemesScreens a:hover img{
	margin:0 10px 10px 0;
	border:5px solid #fff7ee;
}

p.Embed {
	clear:left;
	color:#000000;
	font-size:18px;
	line-height:1.4;
	margin:0;
	padding:6px 3px 3px;
	text-shadow:0 1px 0 #fff;
}

.EmbedPoints {
	-moz-border-radius:2px 2px 2px 2px;
	background:none repeat scroll 0 0 #CB7100;
	color:#fff;
	margin:0 4px;
	padding:2px 4px;
}

#FeatureCopyEmbed{
	padding:300px 0 0 50px;
	position:absolute;
	width:300px;
	z-index:100;
}

#PlayBut{
	padding:180px 0 0 650px;
	position:absolute;
	width:300px;
	z-index:100;
}

.Or {
	float:right;
	margin:0 200px;
}

.APIbut {
float:left;
margin:360px 0 0 325px;
position:absolute;
text-align:left;
vertical-align:top;
z-index:10;
}


.Try {
	margin:15px 90px;
		float:right;

}

.GetVf{
	margin:0 0 10px 95px;
		float:left;

}

.GetEmbed{
	margin:0 0 0 95px;
		float:left;
	
}

.GetButs{
	float:left;
	display:inline-block;
	margin:10px 0;
	text-align:left;
	vertical-align:top;
	width:460px;
}
.TryBut{
	margin:0;
	width:300px;
	float:right;
}

.Plugins {
	float:left;
	margin:20px 140px;
}

.FeatureBottom{
	clear:both;
	margin:0;
}
.FeaturePoints{
	float:right;
	display:inline-block;
	margin:10px 0;
	text-align:left;
	vertical-align:top;
	width:460px;
		
}
.FeatureCode {
	float:left;
	background:none repeat scroll 0 0 #F5F5F5;
	display:inline-block;
	padding:20px;
	vertical-align:top;
	margin:260px 15px;
	width:320px;
		text-shadow:0px 0px 0px #fff;
	border:1px solid #ccc;
	position:absolute;
	z-index:200;

}
.FeatureCode em{
	color:#555555;
	display:block;
	font-size:10px;
	padding-top:5px;
		text-shadow:0px 0px 0px #fff;

}

.FeatureCode strong{
	display:block;
	padding-bottom:5px;
		text-shadow:0px 0px 0px #fff;

}


textarea.EmbedCode, textarea:focus.EmbedCode {
-moz-border-radius:0 0 0 0;
border:1px inset #888888;
color:#000000;
font-family:monospace;
font-size:12px;
height:40px;
line-height:13px;
padding:0;
width:100%;
}
#FeatureIconsWrap{
	padding:500px 0 0 85px;
	position:absolute;
	z-index:200;
}

#FeatureIconsWrapBanner{
	padding:380px 0 0 85px;
	position:absolute;
	z-index:200;
}

#FeatureIconsWrapUpload{
	padding:350px 0 0 85px;
	position:absolute;
	z-index:200;
}

.FeatureIcons{
	float:left;
	padding:10px 15px 0 0;
	
}
.FeatureIcons img, .FeatureIcons  a img {
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
		-web-kit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
			box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
	border:medium none;
	background:#fff;
	padding:3px;	
	float:left;
}
.FeatureIcons a:hover img {
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.7);
			-web-kit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.7);
					box-shadow:0 1px 3px rgba(0, 0, 0, 0.7);
	border-color:#0088cc;
}

.FeatureIcons span.FeatureMore {
	padding-left:10px;
	float:left;
	font-size:11px;
}
.FeatureIcons span.FeatureMore a{
	color:#FF0084;
	font-weight:normal;
	text-shadow:0 0 1px #C3F0FE;
}
.FeatureIcons span.FeatureMore a:hover{
	color:#2A529A;
	text-decoration:underline;
}